/* Section styling */
  .hero-section {
/*    display: flex;
    justify-content: center; */
    align-items: center;
    text-align: center;
    max-width: 800px;
    height: 70vh;
    margin: 2rem auto 0 ;
    background: #f3f3f3;
    color: #3e4ab1;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .hero-section .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    padding: 0.8rem 1rem;
    width: 70%;
    background-color: #F0F4FA;
    border: 1px solid #B8C1D8;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .search-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #FF9800;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .search-btn:hover {
    background-color: #F57C00;
  }
  
  .search-results-section {
    margin-bottom: 6.9rem;
  }
  
  .search-results {
    margin-top: 2rem;
  }
  
  .result-item {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem 2rem 2rem;
    background: #f3f3f3;
    color: #3e4ab1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #D6D6D6;
  }
  
  .result-title {
    font-size: 1.2rem;
    color: #3E4AB1;
  }
  
  .result-snippet {
    font-size: 1rem;
    color: #4D4D4D;
  }
  
  .result-link {
    font-size: 0.9rem;
    color: #2E7D32;
  }
  
  .no-results-message {
    font-size: 1.2rem;
    color: #FF4444;
    text-align: center;
    margin: 1rem auto 6.9rem auto;
    max-width: 800px;
    padding: 2rem;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #D6D6D6;
  }
