.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #f3f3f3;
  color: #5372F0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.language-panel select {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.switch-button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.switch-button:hover {
  background-color: #005bb5;
}

.translate-panel, .search-panel {
  text-align: center;
}

.translate-panel textarea, .search-panel textarea, .search-panel #searchInputTD {
  width: calc(100% - 20px);
  height: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.translate-panel button, .search-panel button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.translate-panel button, .search-panel button:hover {
  background-color: #005bb5;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#yentrans {
  margin-bottom: 6.9rem;
}

/* Search Section */
.search-section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background: #f3f3f3;
  color: #333;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: calc(100% - 20px);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.submit-btn,
.reset-btn {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.submit-btn {
  background: #5372F0;
  color: #fff;
  margin-right: 0.5rem;
}

.reset-btn {
  background: #db3c81;
  color: #fff;
}