/* Base Styles */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #3e4ab1;
    letter-spacing: 1.5px;
    text-align: center;
}

section {
    max-width: 600px;
    margin: 2rem auto 6.9rem auto;
    background: white;
    padding: 30px 25px; /* Uniform padding for space inside form */
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

section:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

textarea {
    width: 70%;
    min-height: 120px;
    display: block;
    margin: 15px auto;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    color: #555;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    outline: none;
    border-color: #ff7e5f;
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.7); 
}

#ttsInput {
    display: none;
}

#textarea2 {
    display: none;
}

#customise-options {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 15px;
}

select, label, input {
    display: inline-block;
}

#voice-label, #speed-label {
    font-weight: bold;
    color: #555;
}

#select-voice, #select-speed {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
    font-size: 14px;
}

.button-row {
    margin-top: 30px;
    text-align: center;
}

section button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background: #ff7e5f;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

section button:hover {
    background: #feb47b;
    transform: translateY(-3px);
}

.topcoat-button--cta {
    background: #009688;
}

#links {
    text-align: center;
    width: 70%;
}

#links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#links img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

#links img:hover {
    transform: scale(1.1);
    border-radius: 20%;
    background-color: #fff;
}

.license {
    width: 300px;
    vertical-align: top;
    font-family: Arial;
    font-size: 9pt;
    margin: 0 auto;
    line-height: normal;
    color: #000;
}

.license img {
    float: left;
    padding-right: 2px;
}